# 第一个中转
frontend frontend_1     
  bind 0.0.0.0:50501 
  mode tcp
  default_backend backend_1  
backend backend_1      
  mode tcp
  server server1 154.17.30.102:443 send-proxy  
  
  
# 第一个中转
frontend frontend_2     
  bind 0.0.0.0:50500 
  mode tcp
  default_backend backend_2  
backend backend_2      
  mode tcp
  server server1 us001.tizihu.space:443 send-proxy  
